:root {
  background-color: #DE640B;
}

html {
  background-image: url('https://live.staticflickr.com/8350/8250445446_7033623b32_o.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 95%;
}

h1,
h2 {
  padding-bottom: 10px; 
}

h1,
h2 {
  color: #AF13FA;
  font-family: 'Rubik Wet Paint', cursive;
}

header {
  font-size: 25px;
}

img {
  padding-bottom: 10px;
}

h3 {
  color: #AF13FA;
  font-family: 'Rubik Wet Paint', cursive;
}

h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

pre,
ul {
  color: #F5C501;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}

p {
  color: #F5C501;
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  font-size: 20px;
}
